@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');
:root {
    --bg-dark: linear-gradient(to bottom right, rgb(15, 15, 15), rgb(4, 12, 40));
    --bg-surface: #24283b; /* Un color para las "tarjetas" o superficies elevadas */
    --text-title:#36be50;
    --text-main: #c0caf5; /* Color principal para el texto, legible y suave */
    --text-secondary: #a9b1d6; /* Un poco más apagado para texto secundario */
    --accent: #7aa2f7; /* El azul principal para enlaces, botones y títulos */
    --accent-hover: #9ece6a; /* Un verde para el estado hover, crea un buen contraste */
    --border-color: #414868;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Momo Trust Sans", sans-serif;
}

body {
    background: var(--bg-dark);
    color: var(--text-main);
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh; /* Asegura que el gradiente cubra toda la altura */
}

/* Scrollbar personalizado para que coincida con el tema */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--bg-dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}