*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    display: flex;
    padding: 150px 20px; /* Ajusté un poco el padding */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative; /* Necesario para la superposición */
    border-radius: 8px; /* Opcional: para bordes redondeados */
    overflow: hidden; /* Opcional: para que el ::before no se salga */
}

/* Superposición oscura para mejorar la legibilidad del texto */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 27, 38, 0.397); /* Usa el color --bg-dark con opacidad */
    z-index: 1;
}

/* Asegura que el contenido del header esté por encima de la superposición */
.header > * {
    position: relative;
    z-index: 2;
}

.content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 70px;

}

section{
    display: flex;
    gap: 20px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}

header p{
    font-size: 2rem;
}

h1{
    color: var(--text-main);
    font-size: 3.8rem;
}



h2{
    color: var(--text-title);
    font-size: 3.2rem;
}

.controw{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
