nav {
  background-color: #063472;
  width: 100%;
  color: white;
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Usamos height para un tamaño fijo y predecible */
  flex-wrap: wrap;
}

.navbar-main{
  display: flex;
  align-items: center;
  gap: 2rem; /* Añadimos el gap aquí para espaciar logo y links */
  height: 100%; /* Hacemos que el contenedor ocupe toda la altura del nav */
}

.logo-container {
  height: 100%; /* Ocupa toda la altura del nav (60px) */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-container img {
  max-height: 60px; /* 80% de la altura del logo-container (que es la altura del nav) */
  width: auto;  /* El ancho se ajusta automáticamente para mantener la proporción */
}

.navbar-main ul {
  list-style: none;
  display: flex;
  align-items: center; /* Alineamos los items de la lista verticalmente */
  gap: 2rem;
  margin: 0; /* Reseteamos márgenes por defecto del ul */
  padding: 0; /* Reseteamos padding por defecto del ul */
}

.navbar-main li {
  cursor: pointer;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.navbar-main li:hover {
  color: var(--accent); /* Usamos una variable de color de general.css */
}

/* --- Media Query para Responsividad --- */
